# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
*.DS_Store
./xcode
./xcode/*
xcode/mrhnetserver/
xcode/mrhnetserver/mrhnetserver.entitlements
xcode/mrhnetserver/mrhnetserver.xcodeproj/project.pbxproj
xcode/mrhnetserver/mrhnetserver.xcodeproj/project.xcworkspace/contents.xcworkspacedata
xcode/mrhnetserver/mrhnetserver.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcode/mrhnetserver/mrhnetserver.xcodeproj/project.xcworkspace/xcuserdata/Jens.xcuserdatad/UserInterfaceState.xcuserstate
xcode/mrhnetserver/mrhnetserver.xcodeproj/xcuserdata/Jens.xcuserdatad/xcschemes/xcschememanagement.plist
